/* Caja datos de usuario */

.profileData {
    width: 25em;
    height: 45em;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;

}

.profileTop {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -15px;
    padding: 16px;
    width: 100%;
    height: 10em;
    display: flex;
    align-items: center;
    background-image: url("https://img.freepik.com/premium-photo/gym-with-lot-machines-weights-floor_173770-1295.jpg?w=826");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}

#profileTitle {
    width: 12em;
    text-align: center;
    background-color: #FFFFFF;
    margin-left: 16px;
    border-radius: 4px;
}

.profileInfo {
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.personalInfo {
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#buttonsCase {
    display: flex;
    justify-content: center;
}

.profileButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 12em;
    width: 15em
}

.dataCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60em;
}

#suscription {
    background: rgb(68, 68, 68);
    background: linear-gradient(315deg, rgba(68, 68, 68, 1) 90%, rgba(252, 185, 0, 1) 90%);
    color: #FFFFFF;
    border: 2px solid rgba(252, 185, 0, 1);
    font-weight: 600;
}

#calendar {
  
    color: #FFFFFF;
    border: 2px solid rgba(252, 185, 0, 1); 
     background: rgb(68, 68, 68);
    background: linear-gradient(315deg, rgba(68, 68, 68, 1) 90%, rgba(252, 185, 0, 1) 90%);
    font-weight: 600;
}

#edit {
    background: rgb(68, 68, 68);
    background: linear-gradient(315deg, rgba(68, 68, 68, 1) 90%, rgba(0, 160, 119, 1) 90%);
    color: #FFFFFF;
    font-weight: 600;
}   

#logout {
  
    color: #FFFFFF;
    border: 2px solid rgba(240, 109, 104, 1);
     background: rgb(68, 68, 68);
    background: linear-gradient(315deg, rgba(68, 68, 68, 1) 90%, rgba(240, 109, 104, 1) 90%);
    font-weight: 600;
}