.header{
    background-color: #444444;
    width: 100vw;
    height: 6em;
    display: flex;
    position: absolute;
    top: 0;
    
}

.logoImg {
    border-radius: 4px;
}

.logoAndButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30em;
}

.logoAndButtons > button {
    height: 36px;
    background-color: #FCB900;
    color: black;
}

.logoAndButtons>button:hover{
    background-color: #b38300
}

.logoAndButtons > .logo{
    display: flex;
    width: 76px;
    height: 76px;
    margin: 8px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 30em;
}

.register{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30em;
}

#signup{
    color: #FFFFFF;
    border: 2px solid  rgba(0,160,119,1); 
     background: rgb(68, 68, 68);
    
    font-weight: 600;
    background: linear-gradient(315deg, rgb(62, 62, 62) 90%, rgba(0,160,119,1) 90%);
    margin-right:16px; 
}

#signup:hover{
    background-color: #007255;
}

#login{
    background-color: #FCB900;
    color: black;
    margin-right:8px; 
    color: #FFFFFF;
    border: 2px solid rgba(252, 185, 0, 1); 
     background: rgb(68, 68, 68);
    background: linear-gradient(315deg, rgb(62, 62, 62) 90%, rgba(252, 185, 0, 1) 90%);
    font-weight: 600;
}

#login:hover{
    background-color: #b38300;
}

#drawerLogo{
    height: 10em;
    width: 10em;
    background-image: url("./src/assets/calendar/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 8px auto;
}

.menuIcon{
    display: none;
}

.profilePic:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.profilePic:active{
    box-shadow: 0 0 0 0 rgb(0, 0, 0);
}

@media (max-width: 1200px){
    .title{ display: none;}
    .logoAndButtons{ display: none; }
    .profilePic{ display: none;}
    .register { display: none; }
    .menuIcon{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-left: 16px;
    }
}