.profileContainer{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileWrapper{
    width: 70em;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* Caja datos de usuario */

.profileData{
    width: 25em;
    height: 45em;
    background-color: #444444;
    margin-top: 8em;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profileTop{
    width: 23em;
    height: 5em;
    display: flex;
    align-items: center;
}

#profileTitle{
    width: 20em;
    text-align: center;
    background-color: #FFFFFF;
    margin-left: 24px;
}

.profileInfo{
    width: 20em;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.personalInfo{
    background-color: #FFFFFF;
}

#buttonsCase{
    display: flex;
    justify-content: center;
}

.profileButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 12em;
    width: 15em
}

.dataCenter{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60em;
}

#suscription{
    background-color: #FCB900;
    color: black
}

#calendar{
    background-color: #FCB900;
    color: black
}

#edit{
    background-color: #FCB900;
    color: rgb(0, 0, 0)
}

#logout{
    background-color: crimson;
    color: #444444;
}

#suscription:hover{
    background-color: #d29a00;
}

#calendar:hover{
    background-color: #d29a00;
}

#edit:hover{
    background-color: #d29a00;
}

#logout:hover{
    background-color: rgb(165, 15, 45);
}

/* Caja reservas de usuario */

.profileBooking{
        width: 25em;
        height: 45em;
        margin-top: 8em;
        background-color: #D9D9D9;
        border: 1px black solid;
}

@media (max-width: 900px){
    .profileWrapper{
        flex-direction: column;
        align-items: center;
    }

    .profileBooking{
        margin-top: 8px;
        margin-bottom: 6em;
    }
}