.profileBooking {
    width: 25em;
    height: 45em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:3px solid #444444;
    background-image: url("https://img.freepik.com/foto-gratis/pesas-ejercicio-mancuernas-hierro-placas-extra_1423-223.jpg?w=1380&t=st=1701291841~exp=1701292441~hmac=64d3b106f4dbd781ebd36ab6e214d49b4c6974385406ceb3a7520dc5e0f05f78");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    /* background: #444444; */
    border-radius: 50px;
    box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    
}

.addItem{
    background: rgb(68, 68, 68);
        background: linear-gradient(315deg, rgba(68, 68, 68, 1) 90%, rgba(210, 154, 0, 1) 90%);
}

.bookingsByUser {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
}

@media (max-width: 900px) {
    .profileWrapper {
        flex-direction: column;
        align-items: center;
    }

    .profileBooking {
        margin-top: 8px;
        margin-bottom: 6em;
    }
}