
.eachElement.hovered {
    transform: scaleY(6);
    transition: transform 0.3s ease;
    border: 1px solid #444444;
    display: flex;
    align-items: center;
    align-content: center;
}

.clase {
    background-color: #444444;
    width: 100vw;
    height: 720px;
    position: absolute;
    left: 0px;
    top: 150px;
}

.clase1 {
    background-color: #444444;
    display: flex;
    position: relative;
    top: 16px;
    left: 15vw;
}

.clase2 {
    background-color: #444444;
    display: flex;
}
