.portrait{
    margin-top: 8em;
    width: 100vw;
    height: 30em;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .portrait{
        height: 100%;
    }
    .portraitImage{
        display: none;
    }
}




.imageList{
    margin-top: 4em;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.imageList img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.imgComp {
    width: 140px;
    height: 140px;
}

.portraitText {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  }
  
  .portraitText::before {
    position: absolute;
    content: "¡Bienvenido al Centro Deportivo Reboost Academy! En nuestro centro, nos enorgullece ser mucho más que un simple gimnasio: somos un lugar donde la pasión por el bienestar y el rendimiento se fusiona para crear una experiencia única. Ya sea que seas un atleta experimentado, estés dando tus primeros pasos hacia un estilo de vida más activo o simplemente busques un espacio acogedor para alcanzar tus metas, aquí encontrarás todo lo que necesitas. Nuestro compromiso es proporcionar instalaciones de última generación que se adapten a tus necesidades. Te ofrecemos el entorno perfecto para desafiarte a ti mismo y alcanzar nuevos niveles de rendimiento.";
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 98%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }
  
  .portraitText:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .portraitText:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .portraitText:active {
    transform: scale(0.95);
  }

  .portraitImage img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  }