.headerButtonless{
    background-color: #444444;
    width: 100vw;
    height: 6em;
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 0;
}

.titleButtonless{
    display: flex;
    align-items: center;
    color: white;
}




