#boton {
  padding-bottom: 1.6vw;
  padding-top: 3vw;
}

.fc-direction-ltr {

  height: 75vh;
  width: 70vw;
}



.fc-daygrid-day-frame {
  background-color: #f4f4f4;
  border: 1px outset;

}


.btn-primary {
  color: #FFFFFF;
    border: 2px solid rgba(252, 185, 0, 1); 
     background: rgb(68, 68, 68);
    background: linear-gradient(315deg, rgb(62, 62, 62) 90%, rgba(252, 185, 0, 1) 90%);
    font-weight: 600;
}



.btn-primary:hover {
  background-color: #FCB900;
 
  border: none
   
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:visited {
  border: 2px solid #FCB900;
}





#calendar2 {
  margin-top: 2vw;
  width: 20vw;
}

.pilates {
  background: linear-gradient(to right, #1a83f3, #9bcdf7);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.9s;
  width: 13vw;
  font-size: 1vw;

}

.pilates:hover {
  background: white;
  color: #007bff;
  border: 2px solid #007bff;
  transform: scale(1.02);
}

.yoga {
  background: linear-gradient(to right, #ff00d4, #fccdf4);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.9s;
  width: 13vw;
  font-size: 1vw;

}

.yoga:hover {
  background: white;
  color: #007bff;
  border: 2px solid #ff00d4;
  transform: scale(1.02);
}




.ciclo_indoor {
  background: linear-gradient(to right, #9d5fee, #dbcdee);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.9s;
  width: 13vw;
  font-size: 1vw;

}

.ciclo_indoor:hover {
  background: white;
  color: #007bff;
  border: 2px solid #6f00ff;
  transform: scale(1.02);
}




.bodypump {
  background: linear-gradient(to right, #ff8800, #f5dfc6);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.9s;
  width: 13vw;
  font-size: 1vw;

}

.bodypump:hover {
  background: white;
  color: #007bff;
  border: 2px solid #ff8800;
  transform: scale(1.02);
}


.bodycombat {
  background: linear-gradient(to right, #ff0800, #facac9);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.9s;
  width: 13vw;
  font-size: 1vw;

}

.bodycombat:hover {
  background: white;
  color: #007bff;
  border: 2px solid #ff0800;
  transform: scale(1.03);
}


.bodybalance {
  background: linear-gradient(to right, #ada202, #fcf7bb);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.9s;
  width: 13vw;
  font-size: 1vw;

}

.bodybalance:hover {
  background: white;
  color: #007bff;
  border: 2px solid #ffee00;
  transform: scale(1.02);
}


.bailes_salon {
  background: linear-gradient(to right, #03d3c2, #d2f3f0);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.9s;
  width: 13vw;
  font-size: 1vw;

}

.bailes_salon:hover {
  background: white;
  color: #007bff;
  border: 2px solid #00ffea;
  transform: scale(1.02);
}


.bailes_latinos {
  background: linear-gradient(to right, #60d401, #e0fdc8);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.9s;
  width: 13vw;
  font-size: 1vw;

}

.bailes_latinos:hover {
  background: white;
  color: #007bff;
  border: 2px solid #73ff00;
  transform: scale(1.02);
}